<div class="container aviso text-center">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error en la compra</h4>
    <p>
      <i class="fas fa-sad-cry  fa-3x"></i>
    </p>
    <p>No se ha podido concretar la compra</p>
    <hr>
    <h5>Detalles de la compra:</h5>
    <p>
      <strong>payment_type: </strong>{{payment_type}}
    </p>
    <p>
      <strong>payment_method_id: </strong>{{payment_method_id}}
    </p>
    <p>
      <strong>external_reference: </strong>{{external_reference}}
    </p>
    <p>
      <strong>collection_id: </strong>{{collection_id}}
    </p>
    <p>
      <a class="btn btn-success" href="/">
        Ir a la página principal
      </a>
    </p>
  </div>
</div>