<div class="container aviso text-center">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Compra realizada correctamente</h4>
    <p>
      <i class="fas fa-check-circle fa-3x"></i>
    </p>
    <p>La compra ha sido registrada con éxito</p>
    <hr>
    <h5>Detalles de la compra:</h5>
    <p>
      <strong>payment_type: </strong>{{payment_type}}
    </p>
    <p>
      <strong>payment_method_id: </strong>{{payment_id}}
    </p>
    <p>
      <strong>external_reference: </strong>{{external_reference}}
    </p>
    <p>
      <strong>collection_id: </strong>{{collection_id}}
    </p>
    <p>
      <a class="btn btn-success" href="/">
        Ir a la página principal
      </a>
    </p>
  </div>
</div>